body {
display:flex;
background-color:white;
justify-content:center;
align-items:center;
margin:0;
height:100vh;

}

.password{
    margin-bottom:10px;
}

.container{
    background-color: light-grey;
    width: 300px;
    border: 5px solid lightblue;
    padding: 50px;
    margin: 20px;
}
.password{
    margin-left:4px;
}


h1{
    color:lightblue;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;

}


button{
    width: 100%;
    padding: 5px;
    background-color: lightblue;
    color: hsl(0, 0%, 99%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding:5px;

}

button:hover {
    background-color: black;
}
